* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040f19;
}

body, h1, h2, h3, p {
  font-family: 'Nunito', sans-serif;
}

::placeholder {
  font-family: 'Nunito', sans-serif;
}